/******************************
 * 記事一覧
 ******************************/

.archive-list-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 -10px;
}


.archive-article {
  flex: 0 0 50%;
  max-width: calc((100% - 40px) / 2);
  margin: 0 10px;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  transition: transform 0.3s;
  margin-bottom: 20px;

  &:hover {
    transform: translateY(-5px);
  }

  &__kv {
    position: relative;
  }

  &__image {
    img {
      max-width: 100%;
    }
  }

  &__subinfo-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;

    .common-category-label, .common-author {
      visibility: visible;
    }
  }

  &__subinfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding: 10px;
  }

  &__maininfo {
    background-color: white;
    padding: 10px;
  }

  &__date {
    color: rgba($text-color, 0.6);
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-family: $font-family-comfortaa;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.3;
  }

  &__tags {
    font-size: 0;
  }

  &__tag {
    @include tag-label;
    border: solid 1px #e0e0e0;
    font-size: 1.2rem;
    margin: 0 5px 5px 0;
  }
  .common-category-label {
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}


.archive-pager {
  display: flex;
  justify-content: center;

  &__item {
    font-family: $font-family-comfortaa;

    &._current, a {
      display: block;
      padding: 0.8rem 8px 0.5rem;
      margin: 0 3px;
    }

    &._current {
      background-color: $cyan;
      color: white;
    }

    a {
      box-shadow: 0 0px $cyan inset;
      transition: box-shadow 0.1s;

      &:hover {
        opacity: 1;
        box-shadow: 0 -4px $cyan inset;
      }
    }
  }
}


.archive-header {
  &__title {
    border: solid 3px #333;
    border-width: 2px 0;
    font-size: 2.0rem;
    font-weight: bold;
    padding: 10px 5px;
    margin-bottom: 20px;
    background-color: rgba(white, 0.6);
  }
}


.archive-author {
  @include author-introduction;
}