/******************************
 * 記事
 ******************************/

.article-eyecatch {
  height: 400px;
  background: center / cover;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include object-fit-cover-polyfill;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}


.article-main, .article-comment-area {
  background-color: white;
  box-shadow: 0 1px 1px rgba(black, 0.1);
}


.article-main {
  padding: 0 20px 20px;
  margin-bottom: 10px;

  &__header {
    padding-top: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100px;
      height: 10px;
      background-color: $cyan;
      top: 0;
      left: 0;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: solid 2px #333;
    line-height: 1.4;
    padding: 5px;
    margin-bottom: 5px;
  }

  &__labels {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 5px;
  }

  &__category {
    margin-right: 5px;
  }

  &__tag {
    display: inline-block;

    a {
      @include tag-label;
      padding-right: 0;
      padding-left: 0;
      margin-right: 5px;
    }
  }

  &__info {
    padding: 0 5px;
    display: flex;
    margin-bottom: 5px;
  }

  &__create-date, &__update-date, &__comment-num {
    font-family: $font-family-comfortaa;
    letter-spacing: 1px;
    padding-top: 0.3rem;
    padding-left: 1.8rem;
    position: relative;
    margin-right: 15px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &__create-date {
    &::before {
      background: url('img/common/icon_create.svg') center / contain;
    }
  }

  &__update-date {
    &::before {
      background: url('img/common/icon_update.svg') center / contain;
    }
  }

  &__comment-num {
    &::before {
      background: url('img/common/icon_balloon.svg') center / contain;
    }
  }

  &__body {
    padding: 0 5px 20px;
    margin: 20px 0;
  }
}


.article-aside-author {
  @include author-introduction;
  margin-bottom: 0;
}


.article-aside-related {
  margin-bottom: 20px;
  background-color: #f2f6f7;
  padding: 20px;

  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__list {
    margin-bottom: -4px;
  }

  &__list-item {
    &:not(:last-child) {
      border-bottom: dashed 1px #d6e5e8;
    }

    a {
      display: block;
      position: relative;
      padding: 8px 0 8px 2.0rem;

      &::before {
        content: '';
        position: absolute;
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1.2rem;
        height: 1.2rem;
        background: url('img/common/icon_arrow.svg') center / contain;
      }
    }
  }
}


.article-comment-area {
  padding: 20px;
  margin-bottom: 20px;
}


.article-comments {
  margin-bottom: 30px;

  &__title {
    position: relative;
    padding: 5px 5px 5px calc(2.3rem + 5px);
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px;

    &::before {
      content: '';
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 1.6rem;
      height: 1.6rem;
      background: url('img/common/icon_balloon.svg') center / contain;
    }
  }
}


.article-comment {
  border-top: solid 2px #333;

  &:last-child {
    border-bottom: solid 2px #333;
  }

  &__body {
    padding: 10px;
    line-height: 1.4;
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  &__time {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 3px;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 3px;
  }

  &__avator {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 15px;
    margin-left: 5px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &__hold {
    color: #aaa;
  }
}


.article-comment-submit {
  &__title {
    position: relative;
    padding: 5px 5px 5px calc(2.3rem + 5px);
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px;

    &::before {
      content: '';
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 1.6rem;
      height: 1.6rem;
      background: url('img/common/icon_balloon.svg') center / contain;
    }
  }

  &__form {
    border-top: solid 2px #333;
    padding: 10px;
  }

  &__message {
    padding: 10px 0;
  }

  &__row {
    padding: 10px 0;

    @media (min-width: $bp) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__label {
    font-weight: bold;
    padding: 10px 0;

    @media (min-width: $bp) {
      flex: 0 0 20%;
    }
  }

  &__field {
    @media (min-width: $bp) {
      flex: 0 0 80%;
    }

    input[type=text], input[type=email], textarea {
      font-size: 1.4rem;
      width: 100%;
      padding: 5px;
      border: solid 1px #ddd;
      font-family: $font-family-base;
    }

    textarea {
      width: 100%;
      height: 100px;
    }
  }

  &__submit {
    text-align: right;

    input[type=submit] {
      border-width: 0;
      background-color: $cyan;
      color: white;
      padding: 5px 20px;
      font-size: 1.4rem;
      transition: opacity 0.3s;
  
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}


.article-pager {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  &__item {
    flex: 0 0 30%;

    a {
      display: block;
      text-align: center;
      font-family: $font-family-comfortaa;
      letter-spacing: 1px;
      padding: 10px;
      background-color: white;
      border-radius: 3px;
      box-shadow: 0 1px 1px rgba(black, 0.1);
      color: $dark-cyan;
      transition: color 0.3s, background-color 0.3s;

      &:hover {
        opacity: 1;
        color: white;
        background-color: $cyan;
      }
    }

    &._new {
      a::before {
        content: '<';
        margin-right: 5px;
      }
    }

    &._old {
      a::after {
        content: '>';
        margin-left: 5px;
      }
    }
  }
}


.article-content {
  line-height: 1.4;

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: solid 3px $cyan;
    padding: 0 5px 5px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 2.3rem;
    font-weight: bold;
    border-bottom: solid 2px $cyan;
    padding: 0 5px 5px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 2.0rem;
    font-weight: bold;
    border-left: 5px solid $cyan;
    padding: 5px 0 5px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h5 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 20px;
    border-left: 1px solid $cyan;
    padding: 5px 0 5px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h6 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0px;
  }

  p {
    margin-bottom: 1.2rem;
    padding: 0 5px;
  }
}


.article-aside-sns {
  height: 2.0rem;
  overflow: hidden;
  margin-bottom: 20px;

  .fb_iframe_widget {
    vertical-align: top;
  }

  .pocket-btn {
    display: inline-block;
    height: 2.0rem;
    overflow: hidden;

    iframe {
      width: 6.0rem;
    }
  }
}