a {
  color: inherit;
  transition: opacity 0.3s;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}


body {
  background-image: url('img/common/bg.png');
}


.inner {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}


.common-author {
  width: 40px;
  height: 40px;

  a {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  &__image {
    border-radius: 20px;
    overflow: hidden;
    background-color: gray;
    box-shadow: 0 0 0 5px rgba(white, 0.1);

    img {
      max-width: 100%;
    }
  }

  &__name {
    position: absolute;
    visibility: hidden;
    right: 0;
    top: 50%;
    transform: translate(10px, -50%);
    margin-right: 70px;
    color: white;
    opacity: 0;
    transition: transform 0.2s, visibility 0.2s, opacity 0.2s;

    span {
      display: inline-block;
      vertical-align: super;
      background-color: rgba(black, 0.7);
      padding: 0 8px;
      height: 2.0rem;
      line-height: 2.0rem;
      font-size: 1.2rem;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px
    }

    &::after {
      content: '';
      display: inline-block;
      border-left: solid 8px rgba(black, 0.7);
      border-top: solid 10px transparent;
      border-bottom: solid 10px transparent;
      vertical-align: top;
    }
  }

  &:hover {
    .common-author__name {
      visibility: visible;
      transform: translate(0, -50%);
      opacity: 1;
    }
  }
}


.common-category-label {
  display: inline-block;
  padding: 5px 8px;
  border-radius: 3px;

  &._it {
    background-color: $dark-cyan;
    color: white;
  }

  &._culture {
    background-color: $green;
    color: white;
  }

  &._foods {
    background-color: #f5ba62;
    color: white;
  }

  &._sports {
    background-color: #ec87b1;
    color: white;
  }
}

@mixin tag-label($bg-color: white, $font-color: $text-color) {
  display: inline-block;
  background-color: $bg-color;
  color: $font-color;
  padding: 4px 6px;
  border-radius: 2px;

  &::before {
    content: '#';
    color: rgba($font-color, 0.4);
    margin-right: 2px;
  }
}


.common-subpage-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;

  @media (min-width: $bp) {
    padding: 40px 0;
  }

  &__main {
    flex: 0 0 100%;

    @media (min-width: $bp) {
      flex: 1 1 auto;
      max-width: calc(100% - 270px);
      margin-right: 20px;
    }
  }

  &__side {
    flex: 0 0 100%;

    @media (min-width: $bp) {
      flex: 0 0 250px;
      width: 250px;
    }
  }
}


@mixin author-introduction {
  display: flex;
  align-items: flex-start;
  border: solid 3px $cyan;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;

  &__title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $cyan;
    color: white;
    padding: 4px 8px;
    border-bottom-left-radius: 3px;
  }

  &__image {
    flex: 0 0 75px;
    width: 75px;
    height: 75px;
    background-color: gray;
    border-radius: 75px;
    margin-right: 20px;
    overflow: hidden;

    @media (min-width: $bp) {
      flex: 0 0 150px;
      width: 150px;
      height: 150px;
    }

    img {
      width: 100%;
    }
  }

  &__info {
    flex: 1 1 auto;
    padding: 5px 0;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    border-bottom: solid 2px #d4d4d4;
    padding: 5px 10px;
  }

  &__name {
    font-size: 2.3rem;
    font-weight: bold;
    margin-right: 15px;
  }

  &__sns-list {
    display: flex;
    margin-bottom: 1px;
  }

  &__sns-list-item {
    margin-right: 8px;
  }

  &__description {
    padding: 5px 10px;
    line-height: 1.4;
  }
}


.common-breadcrumbs {
  background-color: rgba(white, 0.5);
  border-bottom: solid 1px rgba(gray, 0.1);
  color: #888;
  font-size: 1.3rem;
  overflow-x: scroll;

  &__list {
    display: flex;
    align-items: center;
  }

  &__list-item {
    position: relative;
    padding: 8px 15px;
    white-space: nowrap;

    a {
      color: #333;
    }

    &:not(:last-child) {
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        width: 5px;
        height: 5px;
        border-top: solid 1px rgba(black, 0.3);
        border-right: solid 1px rgba(black, 0.3);
        transform: translate(25%, -50%) rotate(45deg);
      }
    }
  }
}


/**
 * object-fit-images (polyfill)
 * IE11用
 */
@mixin object-fit-cover-polyfill {
  font-family: 'object-fit: cover;';
}