/******************************
 * フッター
 ******************************/

.footer {
  padding: 40px 20px;
  background: url('img/common/bg02.svg') center / cover;
  color: white;

  @media (min-width: $bp) {
    padding: 40px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__sitemap {
    flex: 0 0 100%;

    @media (min-width: $bp) {
      flex: 0 0 30%;
    }
  }

  &__copyright {
    text-align: center;
    font-family: $font-family-comfortaa;
  }
}


.footer-brand {
  flex: 0 0 100%;
  margin-bottom: 30px;

  @media (min-width: $bp) {
    flex: 1 1 auto;
  }

  &__title {
    font-size: 2.5rem;
    font-family: $font-family-comfortaa;
  }
}


.footer-section {
  margin-bottom: 20px;

  &__title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__list {
    margin-left: 10px;
  }

  &__listitem {
    margin-bottom: 8px;

    a {
      color: rgba(white, 0.8);
    }

    &._tag {
      a {
        &::before {
          content: '#';
          margin-right: 4px;
          opacity: 0.5;
        }
      }
    }
  }
}