/******************************
 * ヘッダー
 ******************************/

main {
  @media (max-width: $bp - 1) {
    padding-top: 55px;
  }
}

.header {
  background-color: white;

  @media (max-width: $bp - 1) {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 90;
    backface-visibility: hidden;
    border-bottom: solid 1px #eee;
  }
}


.header-top {
  @media (min-width: $bp) {
    padding-top: 5px;
  }

  &__description {
    display: none;

    @media (min-width: $bp) {
      display: block;
      color: rgba(#333, 0.7);
      font-size: 1.2rem;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $bp) {
      padding: 10px 0;
    }
  }
}


.header-brand {
  font-size: 3.0rem;
  font-family: $font-family-comfortaa;
}


.header-other {
  display: none;

  @media (min-width: $bp) {
    display: block;
  }
}


.header-nav {
  background-color: $cyan;
  color: white;
  transition: height 0.3s;

  @media (max-width: $bp - 1) {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    z-index: 100;
    max-height: calc(100vh - 55px);
    overflow-y: scroll;

    &._hidden {
      height: 0;
    }
  }

  &__list {
    display: flex;

    @media (max-width: $bp) {
      flex-flow: column;
      padding: 20px 0;
    }
  }
}


.header-nav-listitem {
  flex: 1 1 auto;
  position: relative;
  z-index: 100;
  padding: 20px 0;

  @media (min-width: $bp) {
    padding: 0;
  }

  &:hover {
    .header-nav-listitem__inner {
      background-color: $dark-cyan;
    }

    .header-nav-listitem__dropdown {
      @media (min-width: $bp) {
        opacity: 1;
        visibility: visible;
        top: 100%;
      }
    }
  }

  a {
    display: block;

    &:hover {
      opacity: 1;
    }
  }

  &__inner {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 14px 0 10px;
    background-color: $cyan;
    transition: background-color 0.3s;
    position: relative;
    z-index: 3;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 3px;
    letter-spacing: 2px;
    font-family: $font-family-comfortaa;
  }

  &__subtitle {
    font-size: 1.1rem;
    color: rgba(white, 0.6);
  }

  &__dropdown {
    @media (min-width: $bp) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $cyan;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s, top 0.3s;
  
      &._taglist {
        width: 200px;
      }
    }
  }
}


.header-nav-category-list {
  padding: 10px;
  display: flex;
  flex-flow: wrap;

  &__item {
    flex: 0 0 50%;
    max-width: calc((100% - 12px) / 2);
    margin: 0 3px 8px;

    @media (min-width: $bp) {
      flex: 0 0 100%;
      max-width: calc(100% - 6px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: block;
      background-color: rgba(white, 0.95);
      color: $darkest-cyan;
      line-height: 1.8;
      padding: 8px 10px;
      box-shadow: 0 1px 1px rgba(black, 0.1);
      border-radius: 3px;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}


.header-nav-tag-list {
  padding: 10px;
  font-size: 0;
  margin-bottom: -5px;

  &__item {
    display: inline-block;
    margin: 0 7px 5px 0;
    font-size: 1.3rem;
    box-shadow: 0 1px 1px rgba(black, 0.1);

    a {
      @include tag-label(rgba(white, 0.95), $darkest-cyan);

      &:hover {
        opacity: 0.6;
      }
    }
  }
}


.header-nav-archive-list {
  padding: 10px;
  display: flex;
  flex-flow: wrap;
  margin: 0 -3px -5px;

  &__item {
    flex: 0 0 50%;
    max-width: calc((100% - 12px) / 2);
    margin: 0 3px 5px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(white, 0.95);
      color: $darkest-cyan;
      padding: 1.1rem 0 0.8rem 0;
      border-radius: 2px;
      box-shadow: 0 1px 1px rgba(black, 0.1);
      font-family: $font-family-comfortaa;
      letter-spacing: 1px;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}


.header-sns {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;

  &__item {
    width: 20px;
    height: 20px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    img {
      width: 100%;
    }
  }
}


.header-search {
  &__text-form {
    background-color: #eee;
    padding: 8px 10px;
    border-width: 0;
    width: 200px;
  }

  &__submit {
    display: none;
  }
}


.header-hamburger-button {
  width: 55px;
  height: 55px;
  position: relative;
  z-index: 1100;

  @media (min-width: $bp) {
    display: none;
  }

  &::before, &__bar, &::after {
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background-color: $dark-cyan;
    left: 50%;
    top: 50%;
    transition: transform 0.3s, top 0.3s, opacity 0.3s, background-color 0.3s;
  }

  &::before {
    content: '';
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &__bar {
    opacity: 0;
    transform: translateX(100%);
  }

  &::after {
    content: '';
    transform: translate(-50%, -50%) rotate(45deg);
  }


  &._hidden {
    &::before {
      top: 25%;
      transform: translate(-50%, -50%);
    }
  
    .header-hamburger-button__bar {
      opacity: 1;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  
    &::after {
      top: 75%;
      transform: translate(-50%, -50%);
    }
  }
}