.page-main {
  background-color: white;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  padding: 20px;
  margin-bottom: 10px;

  a {
    color: $dark-cyan;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: solid 2px #333;
    line-height: 1.4;
    padding: 5px;
    margin-bottom: 15px;
  }

  &__main {
    padding: 5px;
  }

  &__section {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    p {
      line-height: 1.4;
    }
  }

  &__section-title {
    font-size: 1.6rem;
    font-weight: bold;
    border-left: 5px solid $cyan;
    padding: 5px;
    margin-bottom: 10px;
  }
}


/******************************
 * コンタクトフォーム
 ******************************/

.contact-form {
  @media (min-width: $bp) {
    padding: 0 20px;
  }

  &__row {
    margin-bottom: 10px;

    @media (min-width: $bp) {
      display: flex;
    }
  }

  &__heading-cell {
    padding: 6px;
    font-weight: bold;
    font-size: 1.4rem;

    @media (min-width: $bp) {
      flex: 0 0 30%;
    }
  }

  &__cell {
    @media (min-width: $bp) {
      flex: 0 0 70%;
    }
  }

  &__submit {
    display: flex;
    justify-content: flex-end;

    input[type=submit] {
      border-width: 0;
      background-color: #98d6e3;
      color: white;
      padding: 5px 20px;
      font-size: 1.4rem;
      transition: opacity 0.3s;
      order: 1;

      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }

  input[type=text], input[type=email], textarea {
    font-size: 1.4rem;
    width: 100%;
    padding: 5px;
    border: solid 1px #ddd;
    font-family: $font-family-base;
  }

  .wpcf7-not-valid-tip {
    padding-top: 3px;
    font-size: 1.2rem;
    color: #de2626;
  }

  .wpcf7-response-output {
    flex: 0 0 100%;
    margin: 1em 0;
    border-width: 0 0 0 4px;
    padding: 10px;
    background-color: #fff3f3;
    line-height: 1.2;
  }

  .wpcf7-validation-errors {
    background-color: #fffbe2;
  }

  .wpcf7-mail-sent-ok {
    border-color: #a4d62b;
    background-color: #f0f9eb;
  }
}