/******************************
 * サイドバー
 ******************************/

.sidebar-section {
  background-color: white;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  margin-bottom: 20px;

  &__title {
    padding: 10px;
    border-bottom: solid 1px #eee;
    font-weight: bold;
  }

  &__body {
    padding: 10px;

    &._no-padding {
      padding: 0;
    }
  }
}


.sidebar-article-list-item {
  &:not(:last-child) {
    border-bottom: solid 1px #eee;
  }

  a {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  &__image {
    flex: 0 0 60px;
    width: 60px;
    margin-right: 8px;

    img {
      max-width: 100%;
    }
  }

  &__title {
    flex: 1 1 auto;
    line-height: 1.4;
    font-size: 1.3rem;
    font-weight: bold;
  }
}


.sidebar-category-list {
  &__item {
    margin-bottom: 5px;

    a {
      color: $darkest-cyan;
    }
  }
}


.sidebar-tag-list {
  font-size: 0;

  &__item {
    display: inline-block;
    margin: 0 5px 5px 0;
    font-size: 1.4rem;

    a {
      @include tag-label(white, #555);
      border: solid 1px #e0e0e0;
      border-radius: 3px;
    }
  }
}