/******************************
 * ヘッダー
 ******************************/

.top-section-latest {
  padding: 30px 0;

  &__main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @media (min-width: $bp) {
      flex-wrap: nowrap;
    }
  }

  &__second-articles {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
}


.top-latest-first {
  flex: 0 0 100%;
  width: 100%;
  padding-top: (350 / 560) * 100%;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  transition: transform 0.3s;

  @media (max-width: $bp - 1) {
    margin-bottom: 10px;
  }

  @media (min-width: $bp) {
    padding-top: 0;
    width: 560px;
    height: 350px;
    flex: 0 0 auto;
  }

  &:hover {
    transform: translateY(-5px);
  }

  a {
    &:hover {
      opacity: 1;
    }
  }

  &__image {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include object-fit-cover-polyfill;
    }
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    visibility: hidden;
  }

  &__subinfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    position: relative;

    .common-category-label, .common-author {
      visibility: visible;
    }
  }

  &__maininfo {
    background-color: rgba(black, 0.3);
    color: white;
    padding: 10px;
    visibility: visible;
  }

  &__date {
    color: rgba(white, 0.9);
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-family: $font-family-comfortaa;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2;
  }
}


.top-latest-second {
  padding-top: (350 / 560) * 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  transition: transform 0.3s;

  @media (max-width: $bp - 1) {
    margin-bottom: 10px;
  }

  @media (min-width: $bp) {
    padding-top: 0;
    height: calc(50% - 10px);
  }

  &:hover {
    transform: translateY(-5px);
  }

  a {
    &:hover {
      opacity: 1;
    }
  }

  &__image {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include object-fit-cover-polyfill;
    }
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    visibility: hidden;

    .common-category-label, .common-author {
      visibility: visible;
    }
  }

  &__subinfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    position: relative;
  }

  &__maininfo {
    background-color: rgba(black, 0.3);
    color: white;
    padding: 10px;
    visibility: visible;
  }

  &__date {
    color: rgba(white, 0.9);
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-family: $font-family-comfortaa;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.2;
  }
}


.top-latest-first, .top-latest-second, .top-article {
  .common-category-label {
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}

.top-articles {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 -10px 20px;
}

.top-article {
  flex: 1 1 50%;
  max-width: calc((100% - 40px) / 2);
  margin: 0 10px 20px;
  position: relative;
  background-color: white;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  transition: transform 0.3s;

  @media (min-width: $bp) {
    flex: 1 1 33%;
    max-width: calc((100% - 60px) / 3);
  }

  &:hover {
    transform: translateY(-5px);
  }

  &__image {
    text-align: center;

    img {
      width: 100%;
      object-fit: cover;
      @include object-fit-cover-polyfill;
    }
  }

  &__subinfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;

    .common-category-label, .common-author {
      visibility: visible;
    }
  }

  &__maininfo {
    padding: 10px 8px 5px;
  }

  &__date {
    font-size: 1.2rem;
    color: rgba($text-color, 0.6);
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-family: $font-family-comfortaa;
  }

  &__title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2;
  }
}


.top-section-recommend {
  padding: 30px 0;
}


.top-section-categories {
  padding: 30px 0;
}


.top-categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}


.top-section-category {
  flex: 0 0 100%;
  max-width: calc(100% - 20px);
  margin: 0 10px 40px;

  @media (min-width: $bp) {
    flex: 0 0 50%;
    max-width: calc((100% - 40px) / 2);
  }
}


.top-section-recommend {
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    span {
      display: block;
      font-size: 1.8rem;
      font-weight: bold;
      margin: 0 15px;
    }

    &::before, &::after {
      content: '';
      flex: 1 0 auto;
      display: block;
      height: 3px;
      background-color: rgba($text-color, 0.2);
      border-radius: 1px;
    }
  }
}


.top-section-category {
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    span {
      display: block;
      font-size: 1.6rem;
      font-weight: bold;
      margin: 0 15px;
    }

    &::before, &::after {
      content: '';
      flex: 1 0 auto;
      display: block;
      height: 2px;
      background-color: rgba($text-color, 0.2);
      border-radius: 1px;
    }
  }
}


.top-mini-articles {
  margin-bottom: 20px;
}


.top-mini-article {
  background-color: white;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;

  &__image {
    flex: 0 0 100px;
    width: 100px;
    margin-right: 10px;

    img {
      max-width: 100%;
    }
  }

  &__maininfo {
    flex: 1 1 auto;
    padding: 5px 0;
  }

  &__date {
    font-size: 1.1rem;
    font-family: $font-family-comfortaa;
    color: rgba($text-color, 0.6);
    letter-spacing: 2px;
    margin-bottom: 5px;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__author {
    display: flex;
    justify-content: flex-end;

    a {
      display: flex;
      align-items: center;
    }
  }

  &__author-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 10px;
  }

  &__author-image {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    overflow: hidden;
    background-color: gray;
    box-shadow: 0 0 0 3px rgba(black, 0.1);
    margin-right: 3px;

    img {
      max-width: 100%;
    }
  }
}


.top-more-button {
  text-align: center;

  a {
    display: inline-block;
    position: relative;
    padding: 10px 40px;
    border: solid 1px $dark-cyan;
    background-color: white;
    line-height: 1.4;
    overflow: hidden;

    span {
      position: relative;
      color: $dark-cyan;
      transition: color 0.3s;
      z-index: 2;
    }

    &::after {
      content: '';
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $dark-cyan;
      width: 0%;
      padding-top: 0%;
      height: 0;
      border-radius: 50%;
      transition: width 0.3s, padding-top 0.3s;
    }

    &:hover {
      color: white;

      &::after {
        width: 110%;
        padding-top: 110%;
      }

      span {
        color: white;
      }
    }
  }
}