$font-family-sans-serif: "Yu Gothic", YuGothic, Meiryo, "Hiragino Kaku Gothic Pro W3", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Yu Mincho", YuMincho, "Hiragino Mincho ProN W3", "MS PMincho", "MS Mincho", serif;
$font-family-comfortaa: "Comfortaa", $font-family-sans-serif;
$font-family-base: $font-family-sans-serif;

$max-width: 1000px;
$bp-lg: 992px;
$bp: 768px;

$text-color: #333;
$cyan: #98d6e3;
$dark-cyan: #87c5d2;
$darkest-cyan: #5c95a0;
$green: #6dc76d
